<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hualala.mobilebox">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <!--https兼容适配，RTL兼容-->
    <application
        android:name="com.hualala.bi.framework.application.MBApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/CustomAppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">
        <!--全面屏适配-->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
        <!--版本更新所要用到的 fileProvider 用于兼容7.0通知栏的安装-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
        <!--屏幕方向改变引起的前一个页面重新创建-->
        <activity
            android:name=".module.boot.view.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.zxing.CodeScanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.player.VideoPlayerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomAppTheme.FullScreen.Transparent" />
        <activity
            android:name=".module.player.Mp3PlayerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.devices.DevicesListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.guide.AppStartActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>