<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.hualala.mobilebox">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <!--https兼容适配，RTL兼容-->
    <application
            android:hardwareAccelerated="true"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:usesCleartextTraffic="true"
            android:name=".MBApplication"
            android:theme="@style/CustomAppTheme"
            tools:ignore="GoogleAppIndexingWarning"
            tools:targetApi="m">
        <!--全面屏适配-->
        <meta-data
                android:name="android.max_aspect"
                android:value="2.4"/>
        <!--版本更新所要用到的 fileProvider 用于兼容7.0通知栏的安装-->
        <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="${applicationId}.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_provider_paths"/>
        </provider>

        <activity
                android:launchMode="singleTask"
                android:name=".module.boot.view.MainActivity"/>
        <activity android:name=".module.zxing.CodeScanActivity"/>
        <activity
                android:theme="@style/CustomAppTheme.FullScreen.Transparent"
                android:name=".module.player.VideoPlayerActivity"/>
        <activity android:name=".module.boot.view.AppStartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>